= form_for @bid, url: job_bids_path do |f|
  %div
    = f.label :price, "Bid $"
    = f.text_field :price, :placeholder => "2000", class: "form-group"
  %div
    = f.label :comment, "Comment"
    %div
      = f.text_area :comment, :placeholder => "You want copper for plex?", class: "form-group"
  = f.submit "Place Bid", class: "btn btn-primary"


