%h1 You're a contractor
%h1
  = @job.title

%div
  = @job.description
  %p
    Max bid
    =number_to_currency(@job.max_bid)
  %p
    Bidding ends
    =(@job.created_at + @job.bid_length)
  %p
    Job Time frame
    =@job.start_date
    to
    =@job.end_date

%div
  Posted by:
  = link_to @job.landlord.name, @job.landlord
%ul
  Bids on this job
  - @job.recent_bids.each do |bid|
    %li
      = bid.contractor.name
      = number_to_currency(bid.price)
      = bid.created_at

= link_to "Place a new bid on this", new_job_bid_path(@job)
