%h1
  = @job.title

%div
  %p
    %b
      Description:
    %i
      = @job.description
  %p
    %b
      Max bid:
    =number_to_currency(@job.max_bid)
  %p
    %b
      Bidding ends:
    =(@job.created_at + @job.bid_length).strftime("%B %d, %Y")
  %p
    %b
      Job Time frame:
    =@job.start_date.strftime("%B %d, %Y")
    to
    =@job.end_date.strftime("%B %d, %Y")

%div
  %b
    Posted by:
  = link_to @job.landlord.name, @job.landlord
%table.table.table-hover.table-bordered
  %tr
    %th
      Name
    %th
      Amount
    %th
      Placed
  - @job.recent_bids.each do |bid|
    %tr
      %td
        = link_to bid.contractor.name, user_path(bid.contractor)
      %td
        = number_to_currency(bid.price)
      %td
        = bid.created_at.strftime("%B %d, %Y")

- unless @job.accepted_bid?
  = link_to "Place a new bid on this", new_job_bid_path(@job)

- if @job.accepted_bid?
  %h3 This job has been completed.
  %h4
    - if !@job.find_accepted_bid.reviews.where(review_for: 1).empty?
      How did the contractor do?
      = @job.find_accepted_bid.reviews.where(review_for: 1)[0].description
    - if !@job.find_accepted_bid.reviews.where(review_for: 0).empty?
      How was it working for the landlord?
      = @job.find_accepted_bid.reviews.where(review_for: 0)[0].description
