%h1= @job.title

%hr

%ul
  %li= @job.title
  %li= @job.description

%ul
  Bids on this job
  - @job.recent_bids.each do |bid|
    %li
      = bid.contractor.name
      = number_to_currency(bid.price)
      = bid.created_at
= link_to "Place a new bid on this", new_job_bid_path(@job)
