= label_tag :name, "Name"
= text_field :user, "name"
= label_tag :address
= text_field :user, "address"
= label_tag :phone
= text_field :user, "phone_number"
= label_tag :email, "Email"
= text_field :user, "email"


