%h1 Add a Property
.container
  = form_for :property, :url => {:controller => 'properties', :action => 'create'} do |f|
    = label_tag :property_name, "Title", :class => 'title_label'
    = text_field :property, "name", class: "form-group"
    %div
      = label_tag :property_address, "Address", :class => 'property_label'
      %div
        = text_area :property, "address", class: "form-group"
    = submit_tag "Submit", class: "btn btn-primary"
