%h1 LOGIN
= form_for :sessions, :url => {:controller => 'sessions', :action => 'create'} do |f|
  = label_tag :email, "Email"
  = text_field :user, "email"
  = label_tag :password
  = text_field :user, "password"
  = submit_tag "Login"
