%h1 LOGIN
= form_for :sessions, :url => {:controller => 'sessions', :action => 'create'} do |f|
  = label_tag :email, "Email"
  = text_field :sessions, "email"
  = label_tag :password
  = password_field :sessions, "password"
  = submit_tag "Login"
= link_to "Create new account", new_user_path
